// CONTAINER ARROUND DASHBOARD
.wrapper-dashboard {
  display:flex;
}
 // CONTAINER DASHBOARD
.dashboard-data-set {
  width:22%;
  min-width: 22%;
  max-width:22%;
}

.dashboard-right {
  width:100%;
}

// CONTAINER DASHBOARD HEADER
.dashboard-datas {
  margin: 5% 28% 5% 5%;
  width: 55%;
}

.container-add-donations {
  display:flex;
  justify-content:space-around;
  margin-top: 5%;
}

// CONTAINER LOADING INFORMATIONS ABOUT DONATIONS

.dashboard-donations-loader {
  margin: 3% 5%;
  height: 55%;
  max-height: 80vh;
}

.loader-donations {
  overflow-y: scroll;
  position:relative;
  max-height: 70vh;
  margin-top: 2%;
  box-shadow: 0 0px 1.5px rgba(0,0,0,0.4);
  border-radius: 15px;
}

.loader-header {
  position:sticky;
  top:0px;
  padding: 0.5% 0%;
  display:grid;
  grid-template-columns: 9% 9% 20% 10% 10% 25% 9% 8%;
  color:$white;
  font-weight: bold;
  background-color: $green-roja-light;
  border-radius: 15px 15px 0px 0px;
  .list-infos {
    text-align:center;
    padding: 10px 0%;
  }
}

.loader-infos-donations {
  padding: 0.5% 0%;
  display:grid;
  grid-template-columns: 9% 9% 20% 9% 10% 25% 9% 8%;
  .list-infos {
    margin-left: 20%;
    padding: 10px 0%;
  }
}
