// Specific CSS for your home-page
.container-banner {
margin: 10% 20%;
align-items: center;
text-align:center;
height: 600px;
box-shadow: 0 0 15px rgba(0,0,0,0.2);
  img, h1, h2, a {
    margin:30px 10%;
  }
}
