
.list-donations {
  overflow-y: scroll;
  width: 75%;
  box-shadow: 0 0px 1.5px rgba(0, 0, 0, 0.4);
  height: 70%;
  max-height: 80vh;
  border-radius: 15px;
  margin-left: 5%;
  text-align: center;
}

.list-donations a {
  text-decoration:none;
  color: black;
  background-color: $green-roja-light;
  &:hover {
    text-decoration:none;
    color:black;
  }
}

.list-header-donations {
  position:sticky;
  top:0px;
  display:grid;
  grid-template-columns: 15% 15% 20% 50%;
  color:$white;
  font-weight: bold;
  background-color: $green-roja-light;
  border-radius: 15px 15px 0px 0px;
  &:first-child {
    border-radius: 15px 0px 0px 0px;
  }
  &:last-child {
    border-radius: 0px 15px 0px 0px;
  }
  .donations {
    padding: 10px 0%;
  }
}

.list-infos-donations {
  display:grid;
  grid-template-columns: 15% 15% 20% 50%;
  .donations {
    padding: 10px 0%;
  }
  &:hover {
    background-color: $red-roja;
    opacity: 0.7;
  }
}

