.head-list-donors {
  h1 {
    margin-bottom: 10px;
  }
  h2 {
    margin-bottom: 10px;
  }
}

.list-donors {

}

.list-infos-donors{
  // color: $red-roja;
  display:flex;
  justify-content: space-between;
  align-items:center;


}

.list-infos {
  width: 20%;
  a {
    text-decoration:none;
    color: black;
    &:hover {
      text-decoration:none;
      color:black;}
  }
  // background-color: $green-roja;
  // opacity: 0.3;
}
