.donor-show-container {
  display:flex;
  justify-content: space-around;
}
.card-donor {
  overflow-y: scroll;
  margin-top: 10%;
  box-shadow: 0 0px 1.5px rgba(0,0,0,0.4);
  border-radius: 15px;
  min-height: 600px;
  max-height:80vh;
  margin-left:5%;
  text-align:center;
}
.card-donor a {
  text-decoration:none;
  color: black;
  // background-color: $green-roja-light;
  &:hover {
    text-decoration:none;
    color:black;
  }
}

.donor-donations {
  overflow-y: scroll;
  min-width: 55%;
}

.donor-informations {
  min-width: 35%;
  background-color: $green-roja;
  color:white;
}

.informations-name {
  font-weight:bold;
  margin: 10% 5%;
  font-size: 24px;
}

.informations {
  font-weight:bold;
  margin: 10% 0% 10% 10%;
  text-align:left;
}

.modal-dialog {
    max-width: 800px;
}

.modal-header h5 {
  color: black;
  width: 70%;
}

.button-donation-modal {
  all: unset;
  width:100%;
}
