<div class="container-banner">
  <img src="https://rojasorfrance.com/wp-content/uploads/2020/02/Logo-petit-Soleil-Rouge-detoure.png" alt="" class="avatar-large mb-5">
  <h1>Ce logiciel est spécialement dédié à l'association RojaSorFrance</h1>
  <h2>Si vous ne faite pas partie de cette association, ne vous attardez pas sur ce site</h2>
  <% if user_signed_in? %>
    <%= link_to 'Dashboard', donors_path, class: 'button-roja'%>
  <% else %>
    <%= link_to 'Connection', new_user_session_path, class: 'button-roja'%>
  <% end %>
</div>
