<div class="wrapper-dashboard">
  <div class="dashboard-data-set" data-line="third-donors-view">
  <%= render partial: 'shared/dashboard' %>
  </div>
  <div class="dashboard-right">
  <div class="dashboard-datas">
  </div>
  </div>
</div>
