.button-roja {
  padding: 10px 20px;
  color: white;
  background-color: $red;
  text-decoration: none;
  border-radius: 10px;
  font-weight: bold;
  &:hover {
    background-color: $red;
    opacity: 0.4;
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  a {
    margin-top:30px;
  }
}
