.button-roja {
  padding: 10px 20px;
  color: white;
  background-color: $red;
  text-decoration: none;
  border-radius: 10px;
  font-weight: bold;
  &:hover {
    background-color: $red;
    opacity: 0.4;
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  a {
    margin-top:30px;
  }
}

.button-download {
  text-decoration:none;
  min-width: 245px;
  max-width: 245px;
  padding: 1.5% 2.5%;
  border-radius: 15px;
  background-color: $green-roja;
  color: $white;
  text-align:center;
  &:hover {
    text-decoration:none;
    color: $white;
    background-color: $green-roja-light;
  }
}

.button-download-small {
  text-decoration:none;
  min-width: 150px;
  padding: 1.5% 2.5%;
  border-radius: 15px;
  background-color: $green-roja;
  color: $white;
  text-align:center;
  &:hover {
    text-decoration:none;
    color: $white;
    background-color: $green-roja-light;
  }
}

.button-light {
  text-align:center;
  text-decoration: none;
  color: black;
  min-width: 245px;
  max-width: 245px;
  padding: 1.5% 2.5%;
  border-radius: 15px;
  border: 1px solid $green-roja-light;
  &:hover {
    text-decoration:none;
    color: $white;
    background-color: $green-roja-light;
  }
}

.button-light-small {
  text-align:center;
  text-decoration: none;
  color: black;
  min-width: 150px;
  padding: 1.5% 2.5%;
  border-radius: 15px;
  border: 1px solid $green-roja-light;
  &:hover {
    text-decoration:none;
    color: $white;
    background-color: $green-roja-light;
  }
}

.button-light-small-pdf {
  text-align:center;
  text-decoration: none;
  color: black;
  min-width: 200px;
  padding: 4.5% 2.5%;
  border-radius: 15px;
  border: 1px solid $green-roja-light;
  &:hover {
    text-decoration:none;
    color: $white;
    background-color: $green-roja-light;
  }
}

.button-download-small-pdf {
  text-decoration:none;
  min-width: 200px;
  padding: 4.5% 2.5%;
  margin-left: 3%;
  border-radius: 15px;
  background-color: $green-roja;
  color: $white;
  text-align:center;
  &:hover {
    text-decoration:none;
    color: $white;
    background-color: $green-roja-light;
  }
}

.send-button-pdf {
  font-size:16px;
  text-decoration:none;
  min-width: 200px;
  padding: 0.5% 2.5%;
  border-radius: 15px;
  background-color: $green-roja;
  color: $white !important;
  text-align:center;
  &:hover {
    text-decoration:none;
    color: $white;
    background-color: $green-roja-light;
  }
}

.send-button-pdf-success {
  text-align: center;
  text-decoration: none;
  color: black;
  min-width: 200px;
  padding: 0.5% 2.5%;
  border-radius: 15px;
  border: 1px solid #5CA369;
  &:hover {
    text-decoration: none;
    color: #fff;
    background-color: #5CA369;
  }
}


