<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Merci pour votre don <%= @donor.first_name %></h1>
    <p>
      C'est grâce à vous que nous allons pouvoir continuer d'aider ...................<br>
    </p>
  </body>
