<h1>Nous vous remercions de votre solidarité et nous vous adressons votre reçu fiscal.</h1>
<h2>
  N'hésitez pas à retrouver toute notre actualité sur <strong><a href="https://rojasorfrance.com/">notre site internet</a></strong>
  <br>
</h2>
<h3>Cordialement, L'équipe Soleil Roge Roja Sor France</h3>