<!DOCTYPE html>
<html>
<head>
  <title>Rojasor - France PDF</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track':
  'reload' %>
  <%= wicked_pdf_stylesheet_link_tag "donation" %>
  <%= wicked_pdf_stylesheet_link_tag "application" %>
</head>
<body>
  <%= yield %>
</body>
</html>
